{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
    <h1 class="page-title">All Answers</h1>
    
    {% if answer_list %}
    <ul>
        {% for answer in answer_list %}
            <li>
                <em><a href="{{ answer.get_absolute_url }}">{{ answer.answer_content }}</a></em>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p class="page-title">There are no answers created yet.</p>
    {% endif %}
    <p><a href="{% url 'answer-create' %}">Add Answer</a></p>
{% endblock %}