{% extends "base.html" %}
{% load static %}

{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
<p><a href="{% url 'boxes' %}">Back</a></p>
<div id="box-number">{{box}}<div id="box-detail-title">&#x1f4e6</div></div>
        <div class="page-title"><a class="linked-titles" href="{% url 'cards' %}">Go to Cards</a></div>
    </p>
    <p><a href="{% url 'box-update' box.pk %}">Edit Box Number</a></p>
    <p><a href="{% url 'box-delete' box.pk %}">Delete Box #{{box}}</a></p>

{% endblock %}