{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
<h1 class="page-title">Boxes</h1>
{% if box_list %}

    <ul class="subject-list">
        {% for box in box_list %}
            <div class="box-list-picture">
            <li class="box-list-container">&nbsp;&nbsp;{{ box.name }}
                <a id="box-links" href="{{ box.get_absolute_url }}">&#x1f4e6</a>
            </li>
            </div>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no boxes created yet.</p>
    {% endif %}
    <p><a href="{% url 'box-create' %}">Add Box</a></p>
{% endblock %}