{% extends "base.html" %}
{% load static %}

{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
<p><a href="{% url 'cards' %}">Back</a></p>
    <div class="subject-page-title">
        <div class="card-list-container">
            <div><em class="card-title">{{card.question}}</em></div>
        </div>
    </div>
        <p id="show-answer"><button>Show Answer</button><button>Hide Answer</button></p>
    <div><a href="{% url 'questions' %}">See Question Test</a></div>
    <div><a href="{% url 'answers' %}">See Answer Test</a></div>
        <p><a href="{% url 'card-update' card.pk %}">Edit</a></p>
        <p><a href="{% url 'card-delete' card.pk %}">Delete</a></p>

{% endblock %}