{% extends "base.html" %}

{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
<div><a href="{% url 'boxes' %}">Back to Boxes</a></div>
    <h1 class="page-title">All Cards</h1>
    {% if card_list %}
    <ul class="card-list">
        {% for card in card_list %}
            <div id="card-box">
                <li class="card-list-container">
                <em><a class="card-list-items" href="{{ card.get_absolute_url }}">{{ card.question }}</a></em>
                </li>
            </div>
        {% endfor %}
    </ul>
    {% else %}
        <p>There are no cards created yet.</p>
    {% endif %}
    <p><a href="{% url 'card-create' %}">Add Card</a></p>
{% endblock %}