{% extends "base.html" %}
{% load static %}

{% block content %}
<p><a href="{% url 'index' %}">Home</a></p>
<p><a href="{% url 'subjects' %}">Back</a></p>
    <div class="subject-page-title">
        <div class=subject-page-container><h1 class="subject-title"><em>{{subject}}</em></h1></div>
    </div>
    <p></p>
    <div class="page-title"><a class="linked-titles" href="{% url 'boxes' %}">Go to Boxes</a></div>
    <p><a href="{% url 'subject-update' subject.pk %}">Edit Subject</a></p>
    <p><a href="{% url 'subject-delete' subject.pk %}">Delete Subject: {{subject}}</a></p>

{% endblock %}