
body{
    background-color: rgb(236, 187, 95);
    padding: 0;
    margin: 0;
}

#main-logo{
    display: flex;
    margin: 2rem 17rem 1rem 1rem;
    padding: 0;
}

.main-logo{
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    background-color: white;
    width: 25rem;
    height: 3rem;
    line-height: 3rem;
    color: red;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem;

}

#main-title {
    color: red;
    background: linear-gradient(to right bottom, rgb(236, 187, 95), yellow);
    text-align: center;
    width: 100%;
    font-size: 3rem;
}

#logo {
    width: 3rem;
    height: 2rem;
}

.page-title{
    text-align: center;
    color: green;
    font-size: 2rem;
}

li {
    list-style: none;
}

.linked-titles{
    text-decoration: none;
    color: green;
    font-size: 1.5rem;
    font-weight: bold;
}

.linked-titles:hover{
    color: yellow;
}

#list-box {
    margin: 2rem;
}

.subject-list, .card-list{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.subject-list-container{
    border: 1rem solid rgb(121, 224, 121);
    border-radius: 3rem;
    outline: 1rem solid black;
    background-color: green;
    width: 20rem;
    height: 10rem;
    line-height: 10rem;
}

.subject-list-items {
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(88, 4, 126);
}

.subject-list-items:hover{
    color: yellow;
}

.subject-title{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(88, 4, 126);
}

.subject-page-title{
    display: flex;
    justify-content: center;
}

.subject-page-container{
    border: 1rem solid rgb(121, 224, 121);
    border-radius: 3rem;
    outline: 1rem solid black;
    background-color: green;
    width: 20rem;
    height: 10rem;
    line-height: 6rem;
    text-align: center;
}

.box-list-container{
    font-size: 4rem;
    color: rgb(88, 4, 126);
}


#box-links{
    text-decoration: none;
    font-size: 10rem;
}

#box-detail-title{
    text-align: center;
    font-size: 10rem;
}

#box-number{
    text-align: center;
    font-size: 4rem;
    color: rgb(88, 4, 126);
}

.card-list-items {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(88, 4, 126);
}

.card-list-items:hover{
    color: yellow;
}

.card-list-container{
    border: 1rem solid rgb(121, 224, 121);
    border-radius: 3rem;
    outline: 1rem solid green;
    background-color: white;
    width: 20rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(88, 4, 126);
    text-align: center;
    width: 100%;
}
