<!-- cards/templates/cards/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flashcards</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %">
</head>

<body>
    <header class="main-header">
        <h1 class="main-title">Q: What is this app?</h1>
        <h2 class="main-subtitle">A: <em>Flashcards!</em></h2>
            {% if user.is_authenticated %}
                <div class="user-name">Hello,&nbsp;{{ user.get_username }}!</div>
                <div class="log-container"><a class="log-links"href="/accounts/logout/">Logout</a></div>
                {% include "flashcards/navigation.html" %}
                {% else %}
                    <h2>Welcome to your Flashcards app!</h2>
                    <p><a class="log-links"href="/accounts/login">Login</a></p>
                {% endif %}
    </header>
            <main>
                {% block content %}
                {% endblock content %}
                </main>
            </body>

</html>