{% extends "base.html" %}

{% block content %}
<header>
    <div id="main-title">Welcome to Flashcards!</div>
        <h1 id="subtitle"></h1>
</header>
            <div><a href="{% url 'admin:index' %}">Admin</a></div>
            <div><a href="">Login</a></div>
            <div><a href="">Register</a></div>
            <div>create a login that goes to a page for user</div>
            <div>Once the user page is open, it will show:</div>
            <p>What subject would you like to create flashcards for?</p>
            <p>Create subject button?</p>
            <div>Below links are for testing purposes</div>
            <div><a href="{% url 'answers' %}">See Answer Test</a></div>
            <div><a href="{% url 'questions' %}">See Question Test</a></div>
            <div><a href="{% url 'cards' %}">See Card Test</a></div>
            <div><a href="{% url 'boxes' %}">See Box Test</a></div>
            <div><a href="{% url 'subjects' %}">See Subject Test</a></div>
{% endblock %}
