{% extends "base.html" %}

{% block content %}
<header>
    <div id="main-title">Hello!</div>
        <h1 id="subtitle"></h1>
</header>
            <div><a href="{{ answer.get_absolute_url }}">See Answer Test</a></div>
            <div><a href="{{ question.get_absolute_url }}">See Question Test</a></div>
            <div><a href="{{ card.get_absolute_url }}">See Card Test</a></div>
            <div><a href="{{ box.get_absolute_url }}">See Box Test</a></div>
            <div><a href="{% url 'subjects' %}">See Subject Test</a></div>
{% endblock %}
