{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    <h1 id="main-title">Welcome to <em>Flashcards!</em></h1>
        <h2 id="subtitle"></h2>
</header>
            {% if user.is_authenticated %}
            <div class="page-title"><a class="linked-titles" href="{% url 'subjects' %}">Go to Subjects</a></div>
                        <li>Hello, {{ user.get_username }}!</li>
                        <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
                        <p><a href="{% url 'login'%}?next={{request.path}}">Login</a></p>
            {% endif %}
                        <div><a href="">Register</a></div>
                        <p>Below links are for testing purposes</p>
                        <div><a href="{% url 'answers' %}">See Answer Test</a></div>
                        <div><a href="{% url 'questions' %}">See Question Test</a></div>
                        <div><a href="{% url 'cards' %}">See Card Test</a></div>
                        <div><a href="{% url 'boxes' %}">See Box Test</a></div>
                        <div><a href="{% url 'subjects' %}">See Subject Test</a></div>
                        <div><a href="{% url 'admin:index' %}">Admin</a></div>
{% endblock %}    
                        
                        