{% load static %}
<article>
    <h4>{{ card.question }}</h4>
    {% if not check_card %}
        <p class="card-answer">{{ card.answer }}</p>
        <hr>
        <a class="edit-button" href="{% url 'card-update' card.id %}" role="button">
            ✏️ Edit Card
        </a>
        <a class="delete-button" href="{% url 'card-delete' card.id %}" role="button">
            🗑️ Delete Card
        </a>
    {% else %}
        <details class="reveal-container">
            <summary class="reveal-answer">Reveal Answer</summary>
            <p class="answer-revealed">{{ card.answer }}</p>
        </details>
        <hr>
        {% include "flashcards/card_check_form.html" with solved=True %}
        {% include "flashcards/card_check_form.html" with solved=False %}
    {% endif %}
</article>